
# dependencies
/node_modules

# production
/build

# testing
/coverage

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# package manager
yarn-debug.log
yarn-error.log